.container {
    position: relative;
    width: 100%;
    height: calc(549 * var(--k));
    background: var(--white);
  }

.PhotoRectangle {
    position: absolute;
    left: calc((377 * var(--k)) - 0.5 * (685 * var(--k)));
    top: calc(72 * var(--k));

    translate: 50% 0%;
}