.container {
  position: relative;
  width: var(--photo-frame-width);
  height: var(--photo-frame-height);
  background: var(--black);
  border-radius: var(--photo-border-size);
}

.textbox {
  width: var(--photo-textbox-width);
  height: var(--photo-textbox-width);
  position: absolute;
  top: 50%;
  left: var(--photo-textbox-left-padding);
  translate: 0 -50%;
}

.title {
  position: absolute;
  left: 0px;
  top: 0px;

  font-size: var(--photo-title-text-size);
  font-family: var(--photo-font-montserrat);
  font-weight: 600;
  line-height: 1;
  color: var(--white);
}

.subtitle {
  position: absolute;
  left: 0px;
  top: var(--photo-description-text-top-padding);

  font-size: var(--photo-description-text-size);

  font-family: var(--photo-font-montserrat);
  font-weight: 500;
  line-height: 1;
  color: var(--white);
  white-space: nowrap;
}

.button {
  position: absolute;
  left: 0px;
  top: var(--photo-button-top-padding);
}