.container {
    width: var(--frame-width);
    min-height: var(--main-component-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    padding-top: var(--elements-top-padding);

    margin-inline: auto;
}

.VideoSectionText,
.VideoSectionTiles,
.VideoSectionButton {
    width: var(--frame-width);
}