.container {
    width: var(--frame-width);

    display: flex;
    flex-direction: column;
    gap: var(--text-gap);

    background: var(--white);
}

.title {
    margin: 0;

    width: var(--frame-width);
    min-height: var(--title-text-min-height);
    box-sizing: border-box;

    font-size: var(--title-text-size);;
    line-height: 1;
    font-family: var(--font-montserrat);
    font-weight: 600;

    background: linear-gradient(
        to bottom,
        #7E7E7E 0%,
        #000000 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    margin: 0;
    
    width: var(--frame-width);
    min-height: var(--description-text-min-height);
    box-sizing: border-box;

    font-size: var(--description-text-size);;
    line-height: 1;
    font-family: var(--font-montserrat);
    font-weight: 500;
    
    color: var(--text-secondary);
}